
/*------------------------------------------------------------------
[Table of contents]

1.  Basic Styles
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Elements
3.  Menu Style 2k
4.  Home Page Style
5.  About Page Style
6.  Department Page Style
7.  Blog Page Style
8.  Contact Page Style
9.  Footer Style

-------------------------------------------------------------------*/
/* =================================== */
/*  Font Family and Colors Styles
/* =================================== */
/*

font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;


---------------------------------------------

hstone
roza rgb(250,33,238)
ljubicasta rgb(138,0,254)
svijetlo plava rgb(30,173,240)
tamna ljubicasta rgb(45,59,94)

narancasta #FF851B

plava


ruzicasta #FF851B
plavo ljubicasta #6442ff 
rozo ljubicasta #9012fe
crna (naslovi) #141618
sivo crna (slova) #1b1d1f

crna pozadina #252526
crna slova #38383a

svijetlo siva pozadina za crna slova #e5e5e5 #f6f5f5


tamno zlatna pozadina i tamno zlatna slova za svijetlu pozadinu h4 #847252
svijetlo zlatna pozadina #f8f7f2
zlatna slova za crnu pozadinu i zlatni botun na kojem su crna slova #FF851B

bila slova #e6e7e8


*/
/* =================================== */
/*  Basic Style 
/* =================================== */

::-moz-selection {
  /* Code for Firefox */
  background-color: #f6398d;
  color: #fff;
}

::selection {
  background-color: #FF851B;
  color: #fff;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #38383a;
  font-weight: 300;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #38383a;
  opacity: 1;
  font-weight: 300;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #38383a;
  opacity: 1;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #38383a;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #38383a;
  font-weight: 300;
}

html, body {
  color: #38383a;
  background: #f7f7f7;
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  -webkit-backface-visibility: hidden;
}

ol, ul {
  margin: 0;
  padding: 0;
  padding: 0;
  list-style: none !important;
}

select {
  display: block;
}

figure {
  margin: 0;
}

a {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

iframe {
  border: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

.card-panel {
  margin: 0;
  padding: 60px;
}

/*-------- Typography ----------*/

p {
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #777;
}

.text-primary {
    color: #847252 !important;
}

.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1em;
  line-height: inherit;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #38383a;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
}

h1, .h1 {
  font-size: 36px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
  color: #38383a;
}

td, th {
  border-radius: 0px;
}

b{
  font-weight: bold;
}

.b-primary{
    color: #847252 !important;
}

.clear::before, .clear::after {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

.fw100 {
  font-weight: 100;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400 !important;
}

.fw500 {
  font-weight: 500;
}

.f700 {
  font-weight: 700;
}

.fsi {
  font-style: italic;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-150 {
  margin-top: 150px;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-15 {
  margin-right: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-0-i {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-170 {
  padding-top: 170px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pr-30 {
  padding-right: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-90 {
  padding-left: 90px;
}

.p-40 {
  padding: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-italic {
  font-style: italic;
}

.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-rigth {
  text-align: right;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.flex-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.display-table {
  display: table;
}

.light {
  color: #f6f5f5;
}

.dark {
  color: #252526;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.no-padding {
  padding: 0;
}

@media (max-width: 767px) {
  .no-flex-xs {
    display: block !important;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}


/*---------- End Elements Page -------------*/

b, sup, sub, u, del {
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

.btn {
    background: #dee2e6;
}

.btn-lg {
  padding: 0.3rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  height: 41px;
}

.fs-btn {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  outline: none;
  line-height: 34px;
  font-size: .9rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 1rem;
  /*border-radius: 2rem;*/
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.fs-btn:focus {
  outline: none;
}

.fs-btn.large {
  line-height: 45px;
}

.fs-btn.medium {
  line-height: 30px;
}

.fs-btn.small {
  line-height: 25px;
  font-size: .7rem;
}

.fs-btn.dark {
  color: #fff !important;
  background: #39a0ca;
  border: 1px solid transparent;
}

.fs-btn.dark:hover {
  color: #fff !important;
  background: #50ccff;
  border: 1px solid transparent;
}

.fs-btn.primary-border {
  color: #F6398D !important;
  border: 1px solid #F6398D;
  background: transparent;
}

.fs-btn.primary-border:hover {
  color: #fff !important;
  background: #F6398D;
  border: 1px solid #F6398D;
}

.fs-btn.primary {
  color: #000 !important;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 2.828px 2.828px 15px 0 rgba(0,0,0,.1);
}

.fs-btn.primary:hover {
  color: #fff !important;
  border: 1px solid #f41068;
  background-image: -webkit-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
  background-image: -ms-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
}

.fs-btn.fb {
  color: #fff !important;
  background: #3b5998;
  border: 1px solid transparent; 
}

.fs-btn.fb:hover {
  color: #fff !important;
  border: 1px solid #2c4271;
  background: #2c4271;
}

.fs-btn.white {
  color: #252526 !important;
  background: #e6e7e8;
  border: 1px solid #e6e7e8;
}

.fs-btn.white:hover {
  color: #39a0ca !important;
  border: 1px solid #e6e7e8;
  background: #fff;
}

.fs-btn.white-border {
  color: #fff !important;
  border: 1px solid #fff;
  background: transparent;
}

.fs-btn.white-border:hover {
  color: #39a0ca !important;
  background: #fff;
  border: 1px solid #fff;
}

.fs-btn.danger {
  color: #e6e7e8 !important;
  background: #de39a0ca0;
  border: 1px solid #de39a0ca0;
}

.fs-btn.danger:hover {
  color: #e6e7e8 !important;
  border: 1px solid #ff3b3b;
  background: #ff3b3b;
}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 0;
    line-height: inherit;
}

/*----------- Header --------------*/

#header-fixed {
  background-color: #fff;
  box-shadow: -21.213px 21.213px 30px 0 rgba(158,158,158,.3);
  color: #000 !important;
}

#header-fixed > .container > .row > #logo h3 {
    color: #000 !important;
    background: #fff;
}

/* user logged in */
#user-logged-link {
    color: #000 !important;
}

#user-logged-menu a{
    color: #38383a;
}

#user-logged-menu a:hover, #user-logged-menu span:hover{
    color: #fff;
}

#user-logged-menu span{
    padding-right: 2rem;
}

.user-menu {
    background: #fff;
    color: #000;
}
.user-menu a {
    padding: .5rem 2rem;
}
.user-menu a:hover {
    background: #38383a;
    color: #fff;
}

.user-menu-vert {
    margin: 15px 0px;
    background: #fff;
    color: #e6e7e8;
}

.user-menu-vert a {
    padding:10px 20px; 
    font-size: 13px;
    color: #252526;
}

.user-menu-vert a:hover {
    background-image: -webkit-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
    background-image: -ms-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
    color: #fff;
}

.user-menu-vert span{
    margin: 0px 20px; 
}

.user-menu-vert .active {
    background-image: -webkit-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
    background-image: -ms-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
    color: #fff;
}



.stickey-top {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 56px;
  z-index: 1;
}

@media (max-width: 576px) {
    
.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: transparent;
  font-size: 12px;
  padding: 10px 0px;
  color: #fff;
}

.header a {
  color: #000;
  font-size: 1rem;
  font-weight: 100;
  margin-right: 8px;
}

.header a:hover {
    color: #000;
}

#header.page-scrolled {
  background-color: #fff;
  box-shadow: -21.213px 21.213px 30px 0 rgba(158,158,158,.3);
  color: #39a0ca;
}

.logo-scrolled {
    color: #39a0ca;
}
    
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: transparent;
  font-size: 12px;
  padding: 10px 0px;
}

.header a {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  margin-right: 8px;
}

.header a:hover {
    color: #fff;
}

.header.page-scrolled a, .header.page-scrolled a:hover {
  color: #000 !important;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  margin-right: 8px;
}

#header.page-scrolled {
  background-color: #fff;
  box-shadow: -21.213px 21.213px 30px 0 rgba(158,158,158,.3);
}

.logo-scrolled {
    color: #39a0ca;
}

#login-container span{
    margin-right: 10px;
}

.navbar-toggler {
    display: none;
}

@media (max-width: 768px) {
  #login-container {
    display: none;
  }
  .navbar-toggler {
    display: flex;
    color: #fff;
    }
}

#vendor-register-footer p{
    padding: 0;
    margin: 0;
}

#logo h3{
    margin-left: 10px;
    color: #fff;
    font-weight: 700;
}

#nav-mob {
    background: #fff;
    color: #000;
}

#nav-mob a {
    color: #000 !important;
}

#nav-mob .navbar-nav {
    padding: 30px 20px 30px 30px;
}

#nav-mob span{
    margin-right: 20px;
    color: #000;
}


.list-header-top {
  font-size: 12px;
  padding: 10px 0px;
  background: #252526;
}

.list-header-top a {
  color: #e6e7e8 !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0 20px;
}

.list-header-top a {
  margin-right: 8px;
}

.list-header-top span {
  margin-right: 10px;
}
    
#list-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;
  color: #e6e7e8;
}

#list-header a{
    font-family: 'Josefin Sans', sans-serif;
    color: #e6e7e8;
    font-weight: 100;
}

#list-header a:hover {
    color: #fff;
}

#list-header.page-scrolled .list-header-top {
  background-color: #252526;
}

@media (max-width: 991px) {
  #list-header .list-header-top {
    display: none;
  }
}

#list-logo {
  padding-left: 15px;
}

#list-logo a{
    font-size: 2.5rem;
}

#list-logo h3 {
    margin-left: 10px;
    color: #fff;
    font-weight: 700;
}

#list-nav-menu-container {
  padding-right: 15px;
}






.biz-header-top {
  font-size: 12px;
  padding: 10px 0px;
  background: #252526;
}

.biz-header-top a {
  color: #e6e7e8 !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0 20px;
}

.biz-header-top a {
  margin-right: 8px;
}

.biz-header-top span {
  margin-right: 10px;
}
    
#biz-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 997;
  color: #e6e7e8;
}

#biz-header a{
    font-family: 'Josefin Sans', sans-serif;
    color: #e6e7e8;
    font-weight: 100;
}

#biz-header a:hover {
    color: #fff;
}

#biz-header.page-scrolled .biz-header-top {
  background-color: #252526;
}

@media (max-width: 991px) {
  #biz-header .biz-header-top {
    display: none;
  }
}

#biz-logo {
  padding-left: 15px;
}

#biz-logo a{
    font-size: 2.5rem;
}

#biz-logo h3 {
    margin-left: 10px;
    color: #fff;
    font-weight: 700;
}

#biz-nav-menu-container {
  padding-right: 15px;
}

.navbar-light .navbar-nav .nav-link {
    color: #e6e7e8;
    border-bottom: 2px solid transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    border-bottom: 2px solid #FF851B;
}

/*-------- Banner Area------------*/

.index-banner-area {
  position: relative;
  padding-top: 1.2rem;
  padding-bottom: 8rem;
  height: auto;
}
@media (max-width: 991px) {
}
#index-banner {
  margin-top: -57px;
  background: url(../img/salon%206.jpeg) center;
  background-size: cover;
}
#index-banner .form-check-label {
  color: #f6f5f5;
}

@media (max-width: 413px) {
    #index-banner {
      padding: 0 0 2rem 0;
    }
}

.index-banner-area .overlay-bg {
  background: linear-gradient(to right, rgba(246, 57, 141, 0.8) 0%, rgba(255, 0, 59, 0.8) 100%);
    
}

.index-banner-content h1 {
  margin: 120px 0 10px 0;
  font-size: 3.5rem;
  color: #fff;
  font-weight: 600;
}

.index-banner-content p {
  color: #38383a;
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: justify;
}

.index-banner-content h4 {
  color: #fff;
  font-weight: 300;
  font-size: 1.4rem;
}

.search-form-div {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

@media (max-width: 575.98px) {
    .search-form-div {
      display: flex;
      justify-content: center;
    }
    
}
    
.search-form-div span {
    color: #000;
    border: 0;
    background: #fff;
}

#search-form-search {
    border-radius: 2rem 0 0 2rem !important;
}

#search-form-submit {
    border-radius: 0 2rem 2rem 0 !important;
    padding: 0 1rem;
    color: #fff !important;
    background: #f41068;
}

#search-form-submit:hover {
    color: #fff !important;
    background: #d11e63;
}

.search-form-div input {
    color: #FF851B;
    border: 1px solid #fff;
    background: #fff;
}

#index-banner .main-menu {
    margin-top: 60px;
    margin-bottom: -90px;
}

#index-banner a{
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255, .8);
    font-weight: 600;
    font-size: 1rem;
}

#index-banner a:hover {
    color: #fff;
}

@media (max-width: 413px) {
  .index-banner-content h1 {
    font-size: 30px;
  }
  .index-banner-content h4 {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  .index-banner-content {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.salon-banner-area {
  position: relative;
  padding-top: 90px;
  padding-bottom: 70px;
  height: auto;
}
@media (max-width: 991px) {
}

#salon-banner {
  background: url(../img/images/salon/salon17.jpg) center;
  background-size: cover;
  padding: 120px 0px;
  margin-top: -57px;
}

@media (max-width: 413px) {
    #salon-banner {
      padding: 40px 0px;
    }
}

.salon-banner-area .overlay-bg {
  background: linear-gradient(to right, rgba(246, 70, 61, .7) 0%, rgba(246, 57, 141, .7) 45%, rgba(245, 44, 220, .7) 100%);
}

.salon-banner-content h1 {
  margin: 10px 0;
  font-size: 3.5rem;
  color: #fff;
  font-weight: 600;
}

.salon-banner-content h4 {
  color: #FF851B;
}

.salon-banner-content h6 {
  color: #e6e7e8 !important;
  font-weight: 500;
  font-size: 18px;
}

.salon-banner-content a {
  color: #e6e7e8;
  font-weight: 300;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
}

@media (max-width: 413px) {
  .salon-banner-content h1 {
    font-size: 30px;
  }
  .salon-banner-content h6 {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .salon-banner-content {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.biz-banner-area {
  position: relative;
  padding-top: 120px;
  padding-bottom: 100px;
  height: auto;
}
@media (max-width: 991px) {
}

#biz-banner {
  background: url(../img/salon%206.jpeg) center;
  background-size: cover;
   margin-top: -57px;
}

@media (max-width: 413px) {
    #biz-banner {
      padding: 20px 0px;
    }
}

.biz-banner-area .overlay-bg {
  background: rgba(255, 255, 255, 0.8);
}

.biz-banner-content h1 {
  margin: 60px 0 10px 0;
  font-size: 42px;
  color: #000;
  font-weight: 800;
}

.biz-banner-content p {
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: justify;
}

#biz-banner .main-menu {
    margin-top: 60px;
    margin-bottom: -90px;
}

@media (max-width: 413px) {
  .biz-banner-content h1 {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .biz-banner-content {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

.mobitel-wrapper {
    position: relative;
    margin-bottom: -100px;
}

.mobitel {
    background-image: url(../img/video-thumb.png);
    background-size: 52% 47%;
    background-repeat: no-repeat;
    background-position: 25% 30%;
}
.video-play {
    position: relative;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    top: -163px;
    left: 75px;
}

#main-saloni-list {
    padding-top: 70px;
}
/*-------- End Banner Area ------------


/*-------- Main Content Area ------------*/

.content-box {
    color: #252526;
    background-color: #fff;
    margin: 5px !important;
    -webkit-box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
}

.content-box:hover {
    -webkit-box-shadow: 0px 14px 25px -18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 14px 25px -18px rgba(0,0,0,0.5);
    box-shadow: 0px 14px 25px -18px rgba(0,0,0,0.5);
    transition: all .5s ease;
}

.index-salon-text {
    margin: 1rem 0 0 0;
}

.index-salon-text p{
    margin: 0;
    padding: 0;
}

.index-salon-rates {
    margin-bottom: 10px;
    display: flex;
}

.index-salon-stars {
    margin-right: 10px;
}

.content-box h5 {
    font-size: 1rem;
    font-weight: 600;
}


.content-box-pic {
    color: #fff;
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
}

.content-box-pic:hover {
    -webkit-box-shadow: 0px 14px 25px -18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 14px 25px -18px rgba(0,0,0,0.5);
    box-shadow: 0px 14px 25px -18px rgba(0,0,0,0.5);
    transition: all .5s ease;
}

.content-box-pic h5 {
    margin: 10px;
    font-weight: bolder;
}

.content-box-pic p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100
}

.content-box-list {
    color: #252526;
    background-color: #fff;
    margin: 5px !important;
    -webkit-box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    padding: 15px;
}

.content-box-list:hover {
    -webkit-box-shadow: 0px 14px 25px -18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 14px 25px -18px rgba(0,0,0,0.5);
    box-shadow: 0px 14px 25px -18px rgba(0,0,0,0.5);
    transition: all .5s ease;
}

.saloni-list-adresa {
    padding-top: 5px; 
}

.content-box-list h4 {
    font-weight: bold;
}
@media(max-width: 992px){
.content-box-list h4 {
    padding-top: 5px; 
}
}
.content-box-list p {
    font-size: 1rem;
    margin: 0px;
}

.content-box-list small {
    font-size: .8rem;
}

.saloni-list-stats {
    margin: 5px 0px;
    display: flex;
}

.saloni-list-comm span, .saloni-list-heart span{
    color: #000;
    margin-right: 5px;
}

.saloni-list-ratings, .saloni-list-comm {
    margin-right: 10px;
}

#salon-container {
    background: #fff;
    padding-bottom: 20px;
}

.salon-container {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
}

.salon-container:hover {
    -webkit-box-shadow: 0px 14px 25px -18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 14px 25px -18px rgba(0,0,0,0.5);
    box-shadow: 0px 14px 25px -18px rgba(0,0,0,0.5);
    transition: all .5s ease;
}

.section-heading {
    padding-bottom: 50px;
}

.section-heading h1 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.section-heading h3 {
    text-align: center;
    color: #847252;
}



.section-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: #222;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  text-transform: uppercase;
}
/*
.section-title:after {
  content: '';
  border-bottom: 5px solid #FF851B;
  padding-top: 5px;
  width: 40px;
}
*/
.img-wrapper {
    overflow: hidden;
    border: 2px solid #fff;
}

.img-wrapper img{
     -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
    
.content-box:hover > .img-wrapper img{
    transform: scale(1.1);
    -ms-transform: scale(1.1); /* IE 9 */
    -moz-transform: scale(1.1); /* Firefox */
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
}

.imgContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80px;
    border: 2px solid #fff;
}
.imgContainer img {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  max-width: 100%;
  height: auto;
  min-height:100%;
  min-width:100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.img-wrapper h3 {
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-weight: 300;
}

.badge {
  display: inline-block;
  padding: .5rem;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.badge-danger {
    background: #f6398d ;
    color: #fff;
}

.fa-star {
    color: rgb(227, 227, 227) !important;
}
.checked {
  color: #ffd800 !important;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    background-color: transparent;
}

/*-------------- FOOTER -----------*/

.footer {
  background: #222;
}

.footer-top {
    padding: 20px 0px 0px 0px;
}

.footer-div h4 {
    color: #e6e7e8;
    margin: 10px 0px;
}
.footer-div p {
    margin: 10px 0px;
    font-size: .8rem;
    color: rgb(230, 231, 232, .5);
}

.footer-div a {
    margin: 10px 0px;
    font-size: .8rem;
    color: #f6398d;
}

 .footer-bottom {
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #333;
}

@media screen and (max-width: 992px) {
 .footer-bottom{
    display: block;
  }
}

.footer-bottom .nav a{
    font-size: .7rem;
    color: #e6e7e8;
}

#copyright {
    vertical-align: middle;
}

 #copyright p{
    color: rgb(230, 231, 232, .5);
     margin: 0;
     padding: .5rem;
    text-align: center;
}

/*-------- SOCIAL ICONS --------*/

#sidebar-social {
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoInstagram:hover {
	background-color:#E1306C;
}
.social-network a.icoGoogle:hover {
	background-color:#dd4b39;
}
.social-network a.icoYoutube:hover {
	background-color: #ff39a0ca0;
}
.social-network a.icoLinkedin:hover {
	background-color: #0073b1;
}
.social-network a.icoPinterest:hover {
	background-color: #cb2027;
}
.social-network a.icoWebsite:hover {
	background-color: #252526;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoInstagram:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoYoutube:hover i, .social-network a.icoLinkedin:hover i, .social-network a.icoPinterest:hover i, .social-network a.icoWebsite:hover i {
	color: #fff;
}
a.socialIcon:hover, .socialHoverClass {
	color: #44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size: 20px;
    background: #fff;
}
.social-circle li i {
	margin: 0;
	line-height: 50px;
	text-align: center;
    color: #252526;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/*-------------- BOTUNI ZA MOBITEL -----------*/

.bottom-btns {
 display: none;
}
.bottom-btn {
    position: relative;
    width: 100%;
    padding: .5rem 0;
    background-color: #222;
    border: none;
    border-radius: 0;
}

.bottom-btn:hover, .bottom-btn:focus, .bottom-btn:active {
    color: #fff;
}

.bottom-btn p {
    margin-bottom: 0;
    padding: 0;
    font-size: .6rem;
    color: rgba(255, 255, 255, 0.7);
}

.bottom-btn i {
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
    color: rgba(255, 255, 255, 0.7);
}

.bottom-book {
}
.bottom-call {
}
.bottom-mail {
}
.bottom-whatsapp {
}
.bottom-book:hover {
}
.bottom-call:hover {
}
.bottom-mail:hover {
}
.bottom-whatsapp:hover {
}

@media (max-width: 767px) {
    .bottom-btns {
        display: inline-flex;
        position: fixed;
        z-index: 999;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

body.modal-open {
    width: 100% !important;
    padding-right: 0 !important;
    overflow-y: scroll !important;
}

/*-------------- STRANICA INDEX -----------*/

#search-form {
    padding: 30px 0px;
}

.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search-form .form-control {
  background-color: #fff;
  font-size: 13px;
  font-weight: 300;
  border-radius: 0px;
  border: 1px solid #e5e5e5;
  padding: 10px;
}

#search-form .input-group-text {
    background-color: #fff;
    border-radius: 0rem;
}

select.form-control:not([size]):not([multiple]) {
    height: 41px;
}

.content-container {
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
}
@media (max-width: 576px) {
    .content-container {
    padding: 30px 15px;
}
}


.owl-container {
  position: relative;
}
.owl-container .owl-theme .custom-nav {
  position: absolute;
  top: 32%;
  left: 0;
  right: 0;
}

.owl-container .owl-theme .custom-nav .owl-prev,
.owl-container .owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 50px;
  width: 50px;
  color:inherit;
  background: #f6f5f5;
  border: none;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
  -webkit-box-shadow: -1px 11px 14px -7px rgba(0,0,0,0.68);
  -moz-box-shadow: -1px 11px 14px -7px rgba(0,0,0,0.68);
  box-shadow: -1px 11px 14px -7px rgba(0,0,0,0.68);
}
.owl-container .owl-theme .custom-nav .owl-prev:hover,
.owl-container .owl-theme .custom-nav .owl-next:hover {
  background: #fff;
}
.owl-container .owl-theme .custom-nav .owl-prev i,
.owl-container .owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #252526;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-text-stroke: 3px #f6f5f5;
}
.owl-container .owl-theme .custom-nav .owl-prev i:hover,
.owl-container .owl-theme .custom-nav .owl-next i:hover {
  -webkit-text-stroke: 3px #fff;
}
.owl-container .owl-theme .custom-nav .owl-prev {
  left: -18px;
}
.owl-container .owl-theme .custom-nav .owl-next {
  right: -18px;
}

.owl-stage {
   padding-bottom: 7px;
}

.fa-3x {
    color: #f6398d;
    padding-bottom: 20px;
}

.index-list-nav {
    margin-bottom: 15px;
}

#saloni-list-tabs, #salon-tabs {
    border-bottom: 3px solid transparent;
}

#saloni-list .nav-link, #salon .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #868686;
    border: 1px solid #e6e7e8;
    background: transparent;
    font-weight: 400;
    border-radius: 0px;
    padding: 0.5rem 1.7rem;
    margin-right: .2rem;
}

#saloni-list .nav-link:hover, #salon .nav-link:hover {
    background-image: -webkit-linear-gradient(45deg,#f6463d 0%,#f6398d 45%,#f52cdc 100%);
    color: #fff;
}

#saloni-list .nav-item .active, #salon .nav-item .active {
    background-image: -webkit-linear-gradient(45deg,#f6463d 0%,#f6398d 45%,#f52cdc 100%);
    color: #fff;
}

#saloni-list .nav-item .active:hover, #salon .nav-item .active:hover {
    background-image: -webkit-linear-gradient(45deg,#f6463d 0%,#f6398d 45%,#f52cdc 100%);
    color: #fff;
}

.pagination {
    margin-top: 40px;
}

.page-item {
   
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .8rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #252526;
    background-color: transparent;
    border: 1px solid #e6e7e8;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg,#f6463d 0%,#f6398d 45%,#f52cdc 100%);
    border-color: transparent;
}

.page-item.active .page-link:hover {
    z-index: 1;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg,#f6463d 0%,#f6398d 45%,#f52cdc 100%);
    border-color: none;
}

.page-item .page-link:hover {
    color: #fff;
    background-image: -webkit-linear-gradient(45deg,#f6463d 0%,#f6398d 45%,#f52cdc 100%);
    border-color: none;
}

/*-------------- STRANICA SALONI-LIST -----------*/

#search-bar {
    margin-top: -55px;
    padding-top: 55px;
    background: linear-gradient(to right, rgba(246, 70, 61, .9) 0%, rgba(246, 57, 141, .9) 45%, rgba(245, 44, 220, .9) 100%);
}

#main-content-area {
    padding: 20px 0px;
}

.saloni-list-heading {
    padding: 15px 19px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 576px) {
.saloni-list-heading span, .saloni-list-heading form{
    box-sizing: border-box;
    flex: 0 1 50%;
}
}


.saloni-list-sort {
    margin-left: auto;
}

#saloni-list-sort-label {
    background: transparent;
    border: none;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #847252;
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #847252;
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-control-label {
    font-weight: 300;
}

#search-sidebar-form .form-control {
  background-color: transparent;
  font-size: 13px;
  font-weight: 300;
  border-radius: 0px;
  margin-bottom: 10px;
  border: 1px solid rgba(56, 56, 58, .2);
  padding: 10px;
}

#label-do {
  margin: 0px 10px;
  padding-top: 8px;
}

/*-------------- STRANICA SALON -----------*/

.main-content-area-salon {
    margin-top: calc(-1*48px);
}

.table > tbody > tr:first-child > th{
    border: none;
    font-weight: 900;
}

.btn-more-services {
    padding: 20px 0px;
}

.img-wrapper .overlay{
    background: rgba(0, 0, 0, .5);
    z-index: 2;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.img-wrapper h4 {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  padding-top:30%;  
  text-align:center;
  color:white;
  font-weight: 500;
  z-index: 3;
  font-size: 1rem;
}

#sidebar {
    margin-top: calc(-1*48px);
}

label {
    font-weight: bold;
}

.form-check label {
    font-weight: 300;
}


#info-list span {
  margin-right: 1rem !important;
  color: #38383a;
}

/*-------------- CALL TO ACTION -----------*/
#call-to-action {
  background: url(../img/naslovnaslika1.jpg) center;
  background-size: cover;
  height: auto;
  color: #39a0ca;
}

.overlay-action {
    z-index: 999;
    background: rgb(255, 255, 255, .8);
    background-size: cover;
}

#call-to-action h2 {
    font-weight: bold;
    color: #39a0ca;
}

/*-------------- BIZ-INDEX STRANICA -----------*/

#prednosti, #featured-prednosti {

}
 
#biz-call-to-action {
  background: url(../img/call-to-action.jpg) center;
  background-size: cover;
  background-position: right;
}

#prednosti .box, #featured-prednosti .box {
  margin-bottom: 30px;
}

.title, .title {
  font-weight: 600;
  margin-top: 6px;
  margin-bottom: 15px;
  color: #000;
}

.title-color {
    font-weight: 900;
    background: -webkit-linear-gradient(45deg,#f6463d 0%,#f6398d 45%,#f52cdc 100%);
    background: linear-gradient(45deg,#f6463d 0%,#f6398d 45%,#f52cdc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 576px) {
    .title-color {
        font-size: 1.5rem;
    }
}
#usluge {

}

#usluge .box {
  margin-bottom: 30px;
}

#usluge .icon {
  float: left;
}

#usluge .icon i {
  color: #f6398d;
  font-size: 35px;
  line-height: 1;
  transition: 0.5s;
  -webkit-text-stroke: 3px #f6f5f5;
}

#usluge .title {
  margin-left: 60px;
  font-weight: 900;
  margin-top: 6px;
  margin-bottom: 15px;
}

#usluge .description {
  margin-left: 60px;
  margin-bottom: 0;
  font-size: 12px;
}

/* Header Parallax Element Style*/
.paral {
  min-height: 200px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}
/* Image for Parallax Section */ 
.paralsec {
background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/marketing.webp");   
}
/* Remove Bottom Margin from Jumbotron */
.jumbotron{margin-bottom: 0;}

.counter {
    padding: 20px 0;
    border-radius: 5px;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #f6398d;
}

.count-title {
    color: #e6e7e8;
    font-size: 38px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.count-text {
    color: #e6e7e8;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
}

/*COOKIES*/
.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    padding: 10px 0;
    z-index: 999;
    opacity: 0;
    border-radius: 0;
    background: rgb(255, 255, 255, .95);
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #252526;
}
.cookiealert.show {
    opacity: 1;
    transform: translateY(0%);
    transition-delay: 800ms;
}
.cookiealert a {
    text-decoration: none;
}
.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}







.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}


/*-------------- BIZ-ADMIN STRANICA -----------*/

.biz-body {
  color: #38383a;
  background: #e6e7e8;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  -webkit-backface-visibility: hidden;
}

.biz-admin-main {
    background: #e6e7e8;
}

.nav-profil h4{
    color: #fff;
    font-weight: 500;
}

.nav-profil p{
    color: #e6e7e8;
    font-weight: lighter;
    font-size: 12px;
}

.vertical-nav {
  min-width: 20rem;
  width: 20rem;
  height: 100vh;
  position: fixed;
  padding-top: 100px;
  padding-left: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 0.4s;
  background: #252526;
  overflow-y: auto;
}

.vertical-nav .nav {
    margin-top: 40px; 
}

.vertical-nav li {
    padding: 5px 10px;
    margin-left: -20px;
}

.vertical-nav li:hover {
    background: #38383a;
}

.vertical-nav i {
    color: #FF851B;
}

.vertical-nav a {
    color: #e6e7e8;
    font-family: 'Josefin Sans', sans-serif;
}

.list-group-level1 .nav-link {
    padding-left: 30px;
    font-size: 13px;
}

.page-content {
  width: calc(100% - 20rem);
  margin-left: 20rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -20rem;
}



@media (max-width: 991px) {
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;  
  }
  #content.active {
    margin-left: 20rem;
    width: calc(100% - 20rem);
  }
}

.biz-admin-footer {
  background: #fff;
}

.biz-admin-footer p{
  margin: 20px 0px;
  text-align: center;
}

.biz-admin-content-box {
    color: #252526;
    background-color: #f6f5f5;
    margin: 5px !important;
    -webkit-box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 25px -18px rgba(0,0,0,0.5);
    padding: 15px;
}

/* novi stilovi */

.biz-panel-title {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    flex-direction: row !important;
}

@media (max-width: 576px) {
.biz-panel-title {
    flex-direction: column !important;
}
.overview-box {
    margin: 0 1rem 1rem 1rem;
}
}

.overview-box {
}

#ob-1 {
    background-image: -moz-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
    background-image: -webkit-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
    background-image: -ms-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
}

#ob-2 {
    background-image: -moz-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
    background-image: -webkit-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
    background-image: -ms-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
}

#ob-3 {
    background-image: -moz-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
    background-image: -webkit-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
    background-image: -ms-linear-gradient(90deg, #f6398d 0%, #ff003b 100%);
}

.overview-title-box {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.overview-title-box .icon {
    margin-right: 1rem;
}

.overview-title-box .icon i {
    font-size: 2rem;
    color: #fff;
}

.overview-title-box .text h4 {
    font-weight: 600;
    color: #fff;
}

.overview-title-box .text p {
    margin: 0;
    padding: 0;
    color: #fff;
}


/* random styleovi */

thead {
}

td, th {
    vertical-align: middle !important;
} 

table .akcija {
    padding: 10px 8px 8px 8px;
    margin-left: 10px;
}

.table-datum {
    font-weight: bold;
}

.table-data-feature {
    display: flex;
    justify-content: flex-end;
}

.table-data-feature .item {
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    border-radius: 100%;
    margin-right: 5px;
    background: #FF851B;
}

.table-data-feature .item i {
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table p, .table small{
    margin: 0;
}

.table p {
    font-weight: bold;
}

.td-flex {
    display: flex;
    align-items: center;
}

.td-2 {
    flex: 2;
    flex-grow: 3;
}

@media (max-width: 576px) {
    #main-content, #sidebar, #main-saloni-list, #main-content .col-12{
        padding: 0px;
        margin: 0px;
    }
    .td-2 {
        flex: 0 0 auto;
    }

    
}

.td-1 {
    flex: 1;
    display: flex;
    align-items: center;
}

.main-top {
    padding-top: 55px;
}

.side-content-heading {
    padding: 0px 0px 15px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: bold;
}


/* KOMENTARI ZA SALON.PHP */
.table-borderless > tbody > tr > td, .table-borderless > tbody > tr > th, .table-borderless > tfoot > tr > td, .table-borderless > tfoot > tr > th, .table-borderless > thead > tr > td, .table-borderless > thead > tr > th {
    border: none;
}

#ratings-bars {
}

#ratings-bars td{
    margin: 0px;
    padding: 0px;
}

.ratings-rating {
    width: 30%;
    text-align: right;
}

@media (min-width: 576px) {
.ratings-rating {
    width: 20%;
}
}

@media (min-width: 768px) {
.ratings-rating {
    width: 10%;
}
}

@media (min-width: 992px) {
.ratings-rating {
    width: 15%;
}
}

@media (min-width: 1200px) {
.ratings-rating {
    width: 10%;
}
}

.ratings-rating span{
    margin: 0 10px 0 5px;
}

.ratings-bar {
    width: 50%;
}

.ratings-count {
    width: 10%;
}

.progress {
    height: 5px;
    margin: 3px 0;
}

.progress-bar {
    background: #252526;
}

.komentar-div {
    padding: 10px 15px !important;
    border-bottom: 1px solid #e6e7e8;
}

.komentar-div p {
    margin: 0;
    padding: 0;
}

.komentar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px !important;
}

.komentar-header-right {
    margin-left: auto;
}

.komentar-btns {
    text-align: right;
}

.ratings-stars-row {
    padding: 0;
    margin: 0;
}

.zvijezdice-title {
    font-weight: 200;
    margin-right: 1rem;
}

.ratings-ocjena {
    font-weight: 400;
    margin-left: 1rem;
}

.ratings-left-rating h1 {
    font-weight: 700;
    color: rgba(246, 57, 141);
}

.ratings-left-ukupno h3 {

}

/* user logged in panel */

.user-panel-title {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    flex-direction: row !important;
}

@media (max-width: 576px) {
.user-panel-title {
    flex-direction: column !important;
}
}
.rezervacije-div {
    padding: 10px 0 !important;
    border-bottom: 1px solid #e6e7e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rezervacije-div p {
    margin: 0;
    padding: 0;
}

.rezervacije-right {
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    text-align: right;
}

.rezervacije-info {
    margin-right: 1rem;
}

.rezervacije-info p{
    font-weight: bold;
}

.rezervacije-btns {
    align-self: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 9.4rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #000;
    text-align: left;
    list-style: none;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
}

/* User logged in page */

table{
    font-size: .9rem;
}

/* stilovi za user logged in postavke profila */

.form-group {
    align-items: center;
}

.table-odabrane-usluge {
    width: 100%;
}

.dodaj-uslugu {
    width: 100%;
}

#book-modal-footer {
    flex-direction: column;
}

.termin-container {
    padding: .5rem 0;
}

.termin-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
  .termin {
    display: inline-block;
}

.termin-container p{
    margin-bottom: .3rem;
    padding: 0;
}

.select-radnik-container {
    display: flex;
    margin-top: .9rem;
}

.select-radnik-container select {
    padding: .5rem;
    font-size: .75rem;
    border: 1px solid #252526;
    margin-right: 1rem;
}

.select-radnik-container option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: .5rem;
}


@media (min-width: 576px) {
    /* width */
    ::-webkit-scrollbar {
      height: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #e6e7e8;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #9b9b9b;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
}
















/*!
 * Datepicker for Bootstrap v1.6.4 (https://github.com/eternicode/bootstrap-datepicker)
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0 (http://www.apache.org/licenses/LICENSE-2.0)
 */
.modal-title {
    padding-top: .2rem;
}

.prev {
  float: left;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

.modal-header .prev {
  vertical-align: middle;
}

button.prev {
  padding: 0.35rem 0 0 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.prev:hover, .prev:focus {
  color: #39a0ca;
  text-decoration: none;
  opacity: .75;
  cursor: pointer;
}

.datepicker {
    padding: 4px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    direction: ltr
}

#datepicker {
    width: inherit;
    height: inherit;
}

.datepicker-inline, #datepicker .table-condensed {
    width: 100%;
}

.datepicker.datepicker-rtl {
    direction: rtl
}

.datepicker.datepicker-rtl table tr td span {
    float: right
}

.datepicker-dropdown {
    top: 0;
    left: 0
}

.datepicker-dropdown:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #999;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, .2);
    position: absolute
}

.datepicker-dropdown:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-top: 0;
    position: absolute
}

.datepicker-dropdown.datepicker-orient-left:before {
    left: 6px
}

.datepicker-dropdown.datepicker-orient-left:after {
    left: 7px
}

.datepicker-dropdown.datepicker-orient-right:before {
    right: 6px
}

.datepicker-dropdown.datepicker-orient-right:after {
    right: 7px
}

.datepicker-dropdown.datepicker-orient-bottom:before {
    top: -7px
}

.datepicker-dropdown.datepicker-orient-bottom:after {
    top: -6px
}

.datepicker-dropdown.datepicker-orient-top:before {
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid #999
}

.datepicker-dropdown.datepicker-orient-top:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid #fff
}

.datepicker table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.datepicker td,
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none
}

.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
    background-color: transparent
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
    background: #e6e7e8;
    cursor: pointer
}

.datepicker table tr td.new,
.datepicker table tr td.old {
    color: #999
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: 0 0;
    color: #e6e7e8;
    cursor: default
}

.datepicker table tr td.highlighted {
    background: #d9edf7;
    border-radius: 0
}

.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
    background-color: #fde19a;
    background-image: -moz-linear-gradient(to bottom, #fdd49a, #fdf59a);
    background-image: -ms-linear-gradient(to bottom, #fdd49a, #fdf59a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
    background-image: -webkit-linear-gradient(to bottom, #fdd49a, #fdf59a);
    background-image: -o-linear-gradient(to bottom, #fdd49a, #fdf59a);
    background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
    border-color: #fdf59a #fdf59a #fbed50;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #39a0ca
}

.datepicker table tr td.today.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today.disabled:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today[disabled] {
    background-color: #fdf59a
}

.datepicker table tr td.today.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today:hover:active {
    background-color: #fbf069\9
}

.datepicker table tr td.today:hover:hover {
    color: #39a0ca
}

.datepicker table tr td.today.active:hover {
    color: #fff
}

.datepicker table tr td.range,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover,
.datepicker table tr td.range:hover {
    background: #eee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.datepicker table tr td.range.today,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today:hover {
    background-color: #f3d17a;
    background-image: -moz-linear-gradient(to bottom, #f3c17a, #f3e97a);
    background-image: -ms-linear-gradient(to bottom, #f3c17a, #f3e97a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
    background-image: -webkit-linear-gradient(to bottom, #f3c17a, #f3e97a);
    background-image: -o-linear-gradient(to bottom, #f3c17a, #f3e97a);
    background-image: linear-gradient(to bottom, #f3c17a, #f3e97a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
    border-color: #f3e97a #f3e97a #edde34;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled.disabled,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled:hover.disabled,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today.disabled:hover[disabled],
.datepicker table tr td.range.today.disabled[disabled],
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today:hover.disabled,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today:hover:hover,
.datepicker table tr td.range.today:hover[disabled],
.datepicker table tr td.range.today[disabled] {
    background-color: #f3e97a
}

.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today:hover:active {
    background-color: #efe24b\9
}

.datepicker table tr td.selected,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected:hover {
    background-color: #9e9e9e;
    background-image: -moz-linear-gradient(to bottom, #b3b3b3, grey);
    background-image: -ms-linear-gradient(to bottom, #b3b3b3, grey);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(grey));
    background-image: -webkit-linear-gradient(to bottom, #b3b3b3, grey);
    background-image: -o-linear-gradient(to bottom, #b3b3b3, grey);
    background-image: linear-gradient(to bottom, #b3b3b3, grey);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
    border-color: grey grey #595959;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.datepicker table tr td.selected.active,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled.disabled,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled:hover.disabled,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected.disabled:hover[disabled],
.datepicker table tr td.selected.disabled[disabled],
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected:hover.disabled,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected:hover:hover,
.datepicker table tr td.selected:hover[disabled],
.datepicker table tr td.selected[disabled] {
    background-color: grey
}

.datepicker table tr td.selected.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected:hover:active {
    background-color: #666\9
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
    background-color: #252526;
    color: #fff;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
    background-color: #252526
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active {
    background-color: #252526
}

.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
}

.datepicker table tr td span.focused,
.datepicker table tr td span:hover {
    background: #eee
}

.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
    background: 0 0;
    color: #999;
    cursor: default
}

.datepicker table tr td span.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(to bottom, #08c, #04c);
    background-image: -ms-linear-gradient(to bottom, #08c, #04c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
    background-image: -webkit-linear-gradient(to bottom, #08c, #04c);
    background-image: -o-linear-gradient(to bottom, #08c, #04c);
    background-image: linear-gradient(to bottom, #08c, #04c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
    border-color: #04c #04c #002a80;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active.disabled:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active[disabled] {
    background-color: #04c
}

.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active {
    background-color: #039\9
}

.datepicker table tr td span.new,
.datepicker table tr td span.old {
    color: #999
}

.datepicker .datepicker-switch {
    width: 145px
}

.datepicker .datepicker-switch,
.datepicker .next,
.datepicker .prev,
.datepicker tfoot tr th {
    background: #fff;
    color: #252526;
    cursor: pointer
}

.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
    background: #e6e7e8;
}

.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle
}

.input-append.date .add-on,
.input-prepend.date .add-on {
    cursor: pointer
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
    margin-top: 3px
}

.input-daterange input {
    text-align: center
}

.input-daterange input:first-child {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 0
}

.input-daterange input:last-child {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0
}

.input-daterange .add-on {
    display: inline-block;
    width: auto;
    min-width: 16px;
    height: 20px;
    padding: 4px 5px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #ccc;
    margin-left: -5px;
    margin-right: -5px
}

.datepicker.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 139a0ca;
    float: left;
    display: none;
    min-width: 160px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    color: #333;
    font-size: 13px;
    line-height: 20px
}

.datepicker.datepicker-inline td,
.datepicker.datepicker-inline th,
.datepicker.dropdown-menu td,
.datepicker.dropdown-menu th {
    padding: 4px 5px
}

/*# sourceMappingURL=bootstrap-datepicker.standalone.min.css.map */

#table-potvrdi-uslugu tr {
    border-bottom: 1px solid #e6e7e8;
}

#table-potvrdi-uslugu p{
    font-weight: 300;
    color: #000;
}

#table-potvrdi-uslugu .potvrdi-uslugu-cijena {
    font-weight: 700;
    color: #000;
}


/* galerija admin panel upload stilovi */

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " ili prenesi ovdje. ";
    display: block;
    margin: 0 auto;
    color: #39a0ca;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

/* tablica za admin panel */


.bizInfoTable tr:hover{ 
    cursor: pointer;
}

.bizInfoTable th{ 
    font-weight: 900;
    white-space: nowrap;
    width:1%;
}

.bizInfoInput {
}

.bizInfoInput span {
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;
}

.bizInfoLink {
    display: block;
    text-align: right;
}

@media (max-width: 575.98px) {
.bizInfoTable tr {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
}
.bizInfoTable td, .bizInfoTable th{ 
    margin: 0px;
    padding: 0px;
    flex: 0 1 100%;
}

.bizInfoLink {
    display: none;
} 
}

/* stilovi za admin panel */

#raspored select.form-control {
  -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
    border: none;
    text-align-last:center;
    font-size: 12px;
}

#radno-vrijeme input {
    width: 100%;
    border: none;
    text-align: center;
}

@media (max-width: 576px) {
#raspored select.form-control {
    padding: 0px 5px;
    text-align: center !important;
    font-size: .8rem;
    }
}

.smjene h4, .smjene p {
    margin: 0;
}

.jutro {
    border: 1px solid #e6e7e8;
    border-left: 15px solid #3aa4ff;
}

.popodne {
    border: 1px solid #e6e7e8;
    border-left: 15px solid #10385a;
}

#usluga {
    background: #fff;
}

#dodajUslugu {
    align-self: center;
}