<template>
    <div class="main-top">
        <home-nav></home-nav>
        
        <div class="main-top">

            <!-- Trazilica banner -->
            <section id="biz-banner" class="biz-banner-area">
                <div class="overlay overlay-bg"></div>
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-12 biz-banner-content">
                            <div class="row">
                                <div class="offset-xl-1 col-xl-6 col-lg-7">
                                    <h1>Heading 1</h1>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate magni eveniet, praesentium saepe perferendis laboriosam quo nulla optio non labore unde ducimus harum rerum nihil sapiente temporibus quas at iure!</p>
                                    <div class="btn-group mt-5">
                                        <a class="btn fs-btn dark mr-2">Registriraj se</a>
                                        <a class="btn fs-btn primary">Vidi više</a>
                                    </div>
                                </div>
                                <div class="offset-xl-1 col-xl-4 offset-lg-1 col-lg-4 mobitel-wrapper d-none d-lg-block">
                                    <img src="img/mobitel.png" class="mobitel img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Popularni saloni /-->
            <section id="biz-reviews" class="main-content-area py-5">
                <div class="container content-container">
                    <div class="row no-gutters owl-container h-100">
                        <div class="owl-one owl-theme">
                            <div class="single-recent-blog-post item">
                                <div class="row align-items-center">
                                    <div class="col-md-5 order-md-1">
                                        <img class="img-responsive" src="img/responsive.jpg">
                                    </div>
                                    <div class="col-md-7 order-md-2">
                                        <div class="pt-3">
                                            <i class="fa fa-quote-left fa-3x"></i>
                                            <h4 class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quasi, nisi. Voluptate mollitia consequatur iste voluptatibus eaque facere.</h4>
                                            <p class="pt-3"><b>Dina Kovač</b> - beauty studio Dina</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-recent-blog-post item">
                                <div class="row align-items-center">
                                    <div class="col-md-5 order-md-1">
                                        <img class="img-responsive" src="img/marketing.webp">
                                    </div>
                                    <div class="col-md-7 order-md-2">
                                        <div class="pt-3">
                                            <i class="fa fa-quote-left fa-3x"></i>
                                            <h4 class="title">Ipsum impedit aliquid cumque debitis. Quas, voluptatibus! Sapiente, in, quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                                            <p class="pt-3"><b>Mario Horvat</b> - wellness centar Mario</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="featured-prednosti" class="main-content-area py-5">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                            <div class="">
                                <h2 class="title-color text-center">68% ljudi u Hrvatskoj koristi web za istraživanje cijena prije klasične kupnje!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <section id="prednosti" class="main-content-area py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 content-container">
                            <div class="col-12 order-lg-1 wow zoomIn" data-wow-delay="0.1s" data-wow-duration="1.4s">
                                <img class="img-responsive" src="img/responsive.jpg">
                            </div>
                            <div class="col-12 order-lg-2">
                                <div class="pt-3">
                                    <h4 class="title">Istaknite usluge i cijene</h4>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nostrum, iusto nulla beatae cum accusantium assumenda corporis.</p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-4 content-container">
                            <div class="col-12 order-lg-1 wow zoomIn" data-wow-delay="0.1s" data-wow-duration="1.4s">
                                <img class="img-responsive" src="img/open.jpg">
                            </div>
                            <div class="col-12 order-lg-2">
                                <div class="pt-3">
                                    <h4 class="title">Primajte rezervacije 0/24</h4>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nostrum, iusto nulla beatae cum accusantium assumenda corporis.</p>
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-4 content-container">
                            <div class="col-12 order-lg-1 wow zoomIn" data-wow-delay="0.1s" data-wow-duration="1.4s">
                                <img class="img-responsive" src="img/no-show.jpg">
                            </div>
                            <div class="col-12 order-lg-2">
                                <div class="pt-3">
                                    <h4 class="title">Smanjite otkazivanja u zadnji čas</h4>
                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nostrum, iusto nulla beatae cum accusantium assumenda corporis.</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </section>
            
            <div class="jumbotron paral paralsec">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-3">
                                <div class="counter">
                                    <i class="far fa-calendar-check fa-2x"></i>
                                    <h2 class="timer count-title count-number" data-to="12544" data-speed="2000"></h2>
                                    <p class="count-text ">Rezervacija</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter">
                                    <i class="fas fa-users fa-2x"></i>
                                    <h2 class="timer count-title count-number" data-to="4800" data-speed="2000"></h2>
                                    <p class="count-text ">Korisnika</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter">
                                    <i class="fas fa-store-alt fa-2x"></i>
                                    <h2 class="timer count-title count-number" data-to="57" data-speed="2000"></h2>
                                    <p class="count-text ">Salona</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter">
                                    <i class="fas fa-map-marker-alt fa-2x"></i>
                                    <h2 class="timer count-title count-number" data-to="5" data-speed="2000"></h2>
                                    <p class="count-text ">Gradova</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- usluge /-->
            <section id="usluge" class="main-content-area py-5">
                <div class="container content-container">
                    <div class="row">
                        <div class="col-md-4 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="icon"><i class="fa fa-check"></i></div>
                            <h4 class="title">Usluga 1</h4>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quam ex dicta fugit numquam quos error voluptas</p>
                        </div>
                        <div class="col-md-4 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="icon"><i class="fa fa-check"></i></div>
                            <h4 class="title">Usluga 2</h4>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quam ex dicta fugit numquam quos error voluptas</p>
                        </div>
                        <div class="col-md-4 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="icon"><i class="fa fa-check"></i></div>
                            <h4 class="title">Usluga 3</h4>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quam ex dicta fugit numquam quos error voluptas</p>
                        </div>
                        <div class="col-md-4 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="icon"><i class="fa fa-check"></i></div>
                            <h4 class="title">Usluga 4</h4>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quam ex dicta fugit numquam quos error voluptas</p>
                        </div>
                        <div class="col-md-4 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="icon"><i class="fa fa-check"></i></div>
                            <h4 class="title">Usluga 5</h4>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quam ex dicta fugit numquam quos error voluptas</p>
                        </div>
                        <div class="col-md-4 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                            <div class="icon"><i class="fa fa-check"></i></div>
                            <h4 class="title">Usluga 6</h4>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quam ex dicta fugit numquam quos error voluptas</p>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- usluge /-->
            <section id="biz-ad" class="main-content-area py-5">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <img class="img-responsive" src="img/frizerka.png">
                        </div>
                        <div class="col-md-6">
                            <h1 class="title">Zadržite postojeće i privucite nove mušterije.</h1>
                            <a class="btn fs-btn dark">Registriraj se</a>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
        <home-footer></home-footer>
    </div>
</template>
<script> 
export default {
    name:'home', 
}
</script>