<template>
    <div class="main-top">
        <home-nav></home-nav>
        <!-- Trazilica banner -->
        <section id="index-banner" class="index-banner-area">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-12 index-banner-content">
                        <div class="mt-5 text-center">
                            <h1>Pronađite salon</h1>
                            <h4>Pronađite svoj omiljeni salon i rezervirajte termin online.</h4>
                        </div>
                        <search></search>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg main-menu">
                <div class="container">
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav nav-fill w-100"> 
                            <li class="nav-item">
                                <a class="nav-link" :href="'salon-list?type=frizerski'">Frizerski<span v-if="type == 'frizerski'" class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" :href="'salon-list?type=uljepsavanje'"> Salon za uljepšavanje <span v-if="type == 'uljepsavanje'" class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" :href="'salon-list?type=masaze'"> Salon za masaže <span v-if="type == 'masaze'" class="sr-only">(current)</span></a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" :href="'salon-list?type=tattoo'"> Tattoo salon <span v-if="type == 'tattoo'" class="sr-only">(current)</span></a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" :href="'salon-list?type=drugo'"> Drugo <span v-if="type == 'drugo'" class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" :href="'salon-list?type=spa'"> Spa & Wellness <span v-if="type == 'spa'" class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>

        <!-- Popularni saloni /-->
        <section id="popularni-saloni" class="main-content-area py-5">
            <div class="container content-container" style="min-height: 350px;">
                <div class="row h-100">
                    <div class="col-12">
                        <div class="mb-5">
                            <h4 class="float-left section-title">{{type}}</h4>
                            <a id="collapseTableBtn" class="btn fs-btn medium primary float-right" :href="'salon-list?featured=1'" >Prikaži više</a>
                        </div>
                    </div>
                    
                </div>
                <div class="row no-gutters owl-container h-100">
                    <div id="salonCarol" v-if="!loading" class="active-recent-blog-carusel owl-theme">
                        <div v-for="(salon,index) in salons" :key="index" class="single-recent-blog-post item">
                            <a :href="'/salon/'+salon.name">
                                <div class="content-box">
                                    <div v-bind:style="'background-image:url('+ salon.profile_image +')'" class="img-wrapper">
                                        <!-- <img src="img/salon.jpg" alt="" class="img-responsive"> -->
                                        <!-- <h3 class="akcija"><span class="badge badge-danger">AKCIJA!</span></h3> -->
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="index-salon-text">
                                                    <h5>{{salon.name}}</h5>
                                                    <p v-if="salon.address"> {{salon.address.length > 50 ? salon.address.substr(0,50)+'..':salon.address}}</p>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="index-salon-rates">
                                                    <div class="index-salon-stars">
                                                        <span :class="salon.rating >= 1 ? 'fa fa-star checked':'fa fa-star'"></span>
                                                        <span :class="salon.rating >= 2 ? 'fa fa-star checked':'fa fa-star'"></span>
                                                        <span :class="salon.rating >= 3 ? 'fa fa-star checked':'fa fa-star'"></span>
                                                        <span :class="salon.rating >= 4  ? 'fa fa-star checked':'fa fa-star'"></span>
                                                        <span :class="salon.rating == 5 ? 'fa fa-star checked':'fa fa-star'"></span>
                                                    </div>
                                                    <div>
                                                        <small>{{salon.rate_count}} ocjene</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div style="margin:auto;display:block">
                        <loader v-if="loading" color="red"></loader>
                    </div>
                    <div style="margin:auto;display:block" v-if="!loading && salons.length == 0">No matching result for {{type}}</div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="custom-nav owl-nav text-center h-100 align-items-center"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- poziv na akciju /-->
        <section id="call-to-action">
            <div class="overlay-action">
                <div class="container py-5">
                    <div class="row align-items-center">
                        <div class="col-md-10 py-5">
                            <h1 class="title">Skini mobilnu aplikaciju</h1>
                            <p class="mb-4">Skini aplikaciju, skupljaj nagradne bodove i iskoristi ih u svom omiljenom salonu.</p>
                        </div>
                        <div class="col-2 h-100">
                            <a class="btn fs-btn dark">Skini aplikaciju</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <home-footer></home-footer>
    </div>
</template>
<script>

import search from '../layouts/search';
import { mapState } from 'vuex';
export default {
    name:'home',
    computed:{
        ...mapState({
            salons:(state)=>state.salons
        })
    },
    data(){
        return {
            loading:false,
            type:""
        }
    },
    components:{
        search
    },
    created(){ 
        this.featuredSalon('frizerski'); 
    },
    methods:{
        featuredSalon(type){
            this.type=type;
            // document.getElementById('salonCarol').style.opacity='0';
            this.loading=true;
            this.$store.dispatch('get',this.$store.state.endpoint+"get-featured-salon")
            .then((data)=>{
                console.log(data);
                data.data=data.data.map((d)=>{
                    var pimage=d.images.find((d)=> d.type ==2 );
                    d.profile_image=pimage ? pimage.filename:'';
                    return d;
                });
                this.$store.state.salons=data.data;

                this.loading=false;
                setTimeout(()=>{
                    window.$('.active-recent-blog-carusel').owlCarousel({
                        nav: true,
                        navText: [
                            '<i class="fa fa-angle-left" aria-hidden="true"></i>',
                            '<i class="fa fa-angle-right" aria-hidden="true"></i>'
                        ],
                        navContainer: '.custom-nav',
                        items: 4,
                        loop: true,
                        margin: 0,
                        dots: true,
                        autoplayHoverPause: true, 
                        smartSpeed:300,               
                        autoplay: true,
                        responsive: {
                            0: {
                                items: 1
                            },
                            576: {
                                items: 2,
                            },
                            768: {
                                items: 3,
                            },
                            992: {
                                items: 4,
                            },
                            1200: {
                                items: 4
                            },
                            
                        }
                    }); 
                    // setTimeout(()=>{
                        // document.getElementById('salonCarol').style.opacity='1';
                    // },500);
                },100);
            })
            .catch((error)=>{
                console.log(error);
                // this.loading=false;
            })
        }
    }
}
</script>

<style scoped>
    .index-salon-text {
        margin: 1rem 0 0 0;
        height: 55px; 
        overflow: hidden;
    }
    .img-wrapper{
        height: 140px;
        background: #dd1d4b21;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>