<template>
    <header id="header-fixed" class="header">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex px-3">
                <div id="logo">
                    <a href="/" >
                        <!-- <img src="img/logo.png" alt="" title="" /> --><h3 class="d-inline">Frizer</h3>
                    </a>  
                </div>
                <div v-if="user.salon != null" id="login-container">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="vendor-menu-btn"><span class="far fa-user-circle"></span>{{user.vendor.username}}</a>
                    <auth-drop-down></auth-drop-down>
                </div>
                <div v-else id="login-container">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="vendor-menu-btn"><span class="far fa-user-circle"></span>{{user.name}}</a>
                    <auth-drop-down2></auth-drop-down2> 
                </div>
                 
                <!-- user logged in -->
                <div v-if="$store.state.user.salon == null">
                    <!-- toggle button for user menu -->
                    <button id="toggler"  class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navmobuser" aria-controls="nav-mob" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button> 
                </div>
                <button v-else id="toggler" class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#nav-mob-vendor" aria-controls="nav-mob-vendor" aria-expanded="false" aria-label="Toggle  navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            </div>
            <div v-if="$store.state.user.salon != null">  
                <div @click="toggle()" class="collapse navbar-collapse" id="nav-mob-vendor"> 
                    <authcollapse></authcollapse>
                </div>
           </div>
           <div v-else>  
                <div @click="toggle()" class="collapse navbar-collapse" id="navmobuser"> 
                     <authcollapse2></authcollapse2>
                </div>
           </div>
        </div>
        <!-- user collapsed menu, visible only on small devices --> 

      
    </header> 
</template>
<script>
import { mapState } from 'vuex'
import authDropDown from './authdropdown'
import authDropDown2 from './authdropdown2'
import authcollapse from './authcollapse'
import authcollapse2 from './authcollapse2'

export default {
    name:'vendor_head',
    components:{ 
        'auth-drop-down':authDropDown,
        'auth-drop-down2':authDropDown2,
        'authcollapse':authcollapse,
        'authcollapse2':authcollapse2,
    },
    computed:{
        ...mapState({
            user:(state)=>state.user
        })
    },
    created(){
        // console.log(this.user);
    },
    methods:{
        toggle(){ 
            document.getElementById('toggler').click();
        }, 
        logoutNow(e){
            e.preventDefault();
            this.$store.commit('logout');
            window.location.href='/';
        }
    }
}
</script>

<style scoped>
    a{
        color: black !important;
    }
    .dropdown-menu{
        background: white;
    }
</style>