<template>
    <div  class="modal animated fadeIn" id="register-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold mt-3">Registrirajte se</h4>
                <button onclick="document.getElementById('register-form').style.display='none';" id="removeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <!-- <form id="login-form-fb" action="" method="post"> -->
                    <div class="input-group mb-3">
                        <!-- <button id="submit" name="submit" type="submit" class="fs-btn fb text-uppercase btn-lg btn-block">Registriraj se preko facebooka</button> -->
                        <!-- <facebook-login class="button"
                        appId="606396993332867"
                        @login="getUserData"
                        @logout="onLogout" 
                        @sdk-loaded="sdkLoaded"
                        >
                        </facebook-login> -->
                    </div>
                <!-- </form> -->
                 
                <form id="login-form" @submit="createAccount($event)"> 
                    <div v-if="!closeForm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope fa-1x"></i></span>
                            </div>
                            <input id="email" v-model="user.email" type="email" class="form-control" placeholder="E-adresa" aria-label="email" aria-describedby="basic-addon1" required>

                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user fa-1x"></i></span>
                            </div>
                            <input id="name" v-model="user.name" type="text" class="form-control" placeholder="Username" aria-label="name" aria-describedby="basic-addon1" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="fa fa-key fa-1x"></i></span>
                            </div>
                            <input id="password" v-model="user.password" type="password" class="form-control" placeholder="Lozinka" aria-label="password" aria-describedby="basic-addon2" required>

                        </div> 
                        <div class="input-group mb-0">
                            <label> <input id="agree" type="checkbox" required> &nbsp; I agree to the <a href="#" style="color: #39a0ca;" data-dismiss="modal" data-toggle="modal" data-target="#password-form">terms and conditions</a></label>
                        </div>
                    </div>
                    <notify></notify>
                    <button v-if="!closeForm" id="submit" name="submit" type="submit" class="fs-btn dark text-uppercase btn-lg btn-block"><loader v-if="loader" :color="'white'"></loader> <span v-if="!loader"> Registriraj se </span> </button>
                </form>
            </div>
            <div id="vendor-register-footer" class="modal-footer d-block text-center">
                <!-- <p><a href="#" style="color:black;font-weight:bold" data-dismiss="modal" data-toggle="modal" data-target="#register-vendor-form">Registracija salona</a></p> -->
                <p>Imate korisnički račun? <a href="#" style="color:black;font-weight:bold" data-dismiss="modal" data-toggle="modal" data-target="#login-form">Prijavite se!</a></p>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { mapState , mapMutations } from 'vuex'  
export default {
    name:'signupmodal',
    data:()=>{
       return {
            user:{
                name:'',
                email:'',
                password:'',
            },
            closeForm:false
       }
    },  
    computed:{
        ...mapState({
            endpoint:(state)=>state.endpoint,
            notification:(state)=>state.notification,
            loader:(state)=>state.loader,
        }),
    },
    methods:{ 
        ...mapMutations({
            setNotif:'setNotification',
            setLoader:'setLoader',
            handleError:'handleError'
        }),
        sdkLoaded(payload) { 
            console.log(payload);
            this.FB = payload.FB;
            console.log('loaded');
        },
        getUserData(data){
            console.log(data); 
            
            this.FB.api('/me', 'GET', { fields: 'id,name,email,picture' },
            user => { console.log(user);}); 
            console.log(this.result);
        },
        onLogout(){},
        createAccount(e){ 
            e.preventDefault();
            
            for(var item in this.user){
                 if(this.user[item].length == 0){
                    this.setNotif({type:2,msg:"All fields are required"});
                    return false;
                 }
            }   

            if(!window.$("#agree").is(':checked')){
                this.setNotif({type:2,msg:"You need to read and agree to the terms and conditions."});
                return false;
            }
            this.setLoader(true); 
            this.$store.dispatch('post',{details:this.user,endpoint:this.endpoint+'signup'})
            .then((data)=>{
                // console.log(data);
                this.setNotif({type:1,msg:data.data.msg});
                this.closeForm=true;
                this.setLoader(false);
                document.getElementById('removeModal').click();
                window.$("#login-form").modal('show');
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.setLoader(false);
            });
        }
    },
    created(){ 
    }
}
</script>