<template>
  <div id="app">
    <router-view></router-view>
    
    <div v-if="user != null"> 
         <!-- user buttons -->
        <div v-if="user.vendor == null" id="userBtns" class="btn-group btn-group-justified bottom-btns">
          <a href="#" class="btn bottom-btn bottom-book"><i class="far fa-heart"></i>
              <p>Omiljeni</p>
          </a>
          <a href="#" class="btn bottom-btn bottom-call"><i class="fas fa-search"></i>
              <p>Pretraži</p>
          </a>
          <a href="#" class="btn bottom-btn bottom-mail"><i class="far fa-calendar-check"></i>
              <p>Rezervacije</p>
          </a>
          <a href="#" class="btn bottom-btn bottom-whatsapp"><i class="far fa-user"></i>
              <p>Profil</p>
          </a>
        </div>

          <!-- niz-user-btns -->
        <div v-if="user.vendor != null && user.salon != null" id="bizUserBtns" class="btn-group btn-group-justified bottom-btns">
            <a :href="'/salon/'+user.salon.name" class="btn bottom-btn bottom-book"><i class="fas fa-plus"></i>
                <p>Novi termin</p>
            </a>
            <a @click="openPage('terminiNav')" href="#" class="btn bottom-btn bottom-call"><i class="fas fa-exclamation-circle"></i>
                <p>Zahtjevi</p>
            </a>
            <a @click="openPage('terminiNav')" href="#" class="btn bottom-btn bottom-mail"><i class="far fa-calendar-check"></i>
                <p>Termini</p>
            </a>
            <a href="#" class="btn bottom-btn bottom-whatsapp"><i class="fas fa-tachometer-alt"></i>
                <p>Nadzorna</p>
            </a>
        </div>

    </div>
  </div>
</template>

<script> 
import { mapState } from 'vuex';

export default {
  name: 'App', 
  data(){
    return { 
    }
  },
  computed:{
    ...mapState({
      user:(state)=>state.user, 
    })
  },
  methods:{
    openPage(page){
      document.getElementById(page).click();
    }
  },
  created(){ 
    var data=localStorage.getItem('data');
    if(data != null){
      data=JSON.parse(data);
      this.$store.commit('setUser',data);
      this.$store.dispatch('get',this.$store.state.endpoint+'get-user?token='+this.$store.state.token)
      .then((result)=>{
        // console.log(result); 
        this.$store.commit('setUser',{user:result.data,token:data.token});
        // console.log(this.user);
      })
      .catch((error)=>{
        console.log(error.request)
      });
    }
  }
}
</script> 
