<template>
    <div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="user-panel-title">
                        <h4>Omiljeni saloni</h4>
                    </div>
                    <p v-if="favorites.length == 0">Trenutno nemate omiljene salone.</p>
                </div>
                <div class="col-12"> 
                    <div v-for="(favorite,index) in favorites" :key="index" class="col-12 komentar-div">
                        <a :href="'/salon/'+favorite.name">
                            <div class="row no-gutters">
                                <div class="col-12 komentar-header">
                                    <div class="komentar-header-left">
                                        <small class="komentar-date">since {{new Date(favorite.created_at).toDateString()}}</small> 
                                        <h4 class="komentar-username"> <i class="fas fa-heart text-danger"></i> {{favorite.name}}</h4>
                                    </div>
                                    <div class="komentar-header-right">
                                        <div class="komentar-btns">
                                            <a @click="delFavorite(favorite.id)" class="btn fs-btn small ml-2"><span class="far fa-trash-alt"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 komentar-body"> 
                                </div>
                            </div> 
                        </a> 
                    </div>
                    <loader color='red' v-if="loadingFavorite" ></loader>
                </div>
                <div v-if="last_page > 1" class="col-12">
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item align-self-center">
                                <a @click="loadFavorite(favorite_current_page <=0 ? 0:favorite_current_page - 1)" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li v-for="(page,index) in pagination" :key="index" :class="page == favorite_current_page ? 'page-item active':'page-item '"><a class="page-link" @click="loadFavorite(page)">{{page}}</a></li> 
                            <li class="page-item">
                                <a  @click="loadFavorite(favorite_current_page >= last_page ? last_page:favorite_current_page + 1)" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import  { mapState } from 'vuex';
export default {
    computed:{
        ...mapState({
            user:(state)=>state.user,
            loader:(state)=>state.loader,
            token:(state)=>state.token,
            endpoint:(state)=>state.endpoint,
            head:(state)=>state.booking_head,
            body:(state)=>state.booking_body,
        })
    },
    data(){
        return {
            loadingFavorite:false,
            favorite_current_page:1,
            last_page:0,
            favorites:[],
            pagination:[],
        }
    },
    methods:{ 
        delFavorite(id){  
            this.favorites=this.favorites.filter((d)=> d.id !=id);

            this.$store.dispatch('get',this.endpoint+'remove-favorite-salon/'+id+'?token='+this.token)
            .then((data)=>{
                console.log(data);
            });
        }, 
        loadFavorite(page){
            this.loadingFavorite=true;
			this.$store.state.loader=true; 
			this.$store.dispatch('get',this.endpoint+'get-favorite-salons?page='+page+'&token='+this.token)
            .then((data)=>{
                console.log(data.data);
                this.favorites=data.data.data;
                this.favorite_current_page=data.data.current_page;
                this.last_page=data.data.last_page;
                this.pagination=[];
                for(var c=1;c<=data.data.last_page;c++){
                    this.pagination.push(c);
                }
                this.loadingFavorite=false;
            })
            .catch((error)=>{
                console.log(error.request);
                this.loadingFavorite=false
            });
        
        },
    },
    created(){
        this.loadFavorite(1);
        console.log(this.favorites);
    }
}
</script>