<template>
    <div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="user-panel-title">
                        <h4>Moje rezervacije</h4>
                        <a href="/salon-list" class="btn fs-btn dark small"><span class="fa fa-plus"></span></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div v-for="(book,index) in data" :key="index" class="col-12 rezervacije-div">
                            <div class="rezervacije-left"> 
                                <p>{{book.service_names}}</p>
                                <small class="rezervacije-username">{{book.salon.name}}</small><br>
                                <small class="rezervacije-username">{{book.employee.name}}</small><br>
                                <small class="rezervacije-username">{{book.datee}} ({{reformatTime(book.time)}})</small><br>
                                <p>{{book.time_total}} Mins | {{book.price}} Kn</p> 
                                
                                <div v-if="book.vendor_note != null" class="mt-3">
                                    <b>Vendor's note :</b>
                                    {{book.vendor_note}}
                                </div>
                            </div>
                            <div class="rezervacije-right">
                                <div v-if="book.status == -1" class="rezervacije-right text-danger">
                                    -- Rejected --
                                </div>
                                <div v-if="book.status == 0" class="rezervacije-right text-danger">
                                    -- Pending --
                                </div>
                                <div v-if="book.status == 1" class="rezervacije-right text-primary">
                                    -- Accepted --
                                </div>
                                <div v-if="book.status == 2" class="rezervacije-right text-success">
                                    -- FINISHED --
                                </div>
                                <div v-if="book.status == -2" class="rezervacije-right text-danger">
                                    -- No show --
                                </div>
                                <div class="rezervacije-btns">
                                    <a v-if="book.status == 0 || book.status == 1" @click="deleteItem(book.id)" class="btn fs-btn small"><span class="far fa-trash-alt"></span></a>
                                </div>
                            </div>
                           
                        </div> 
                        <loader v-if="loading" color='red'></loader>
                    </div>
                    <nav v-if="data.length > 0" aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a @click="getItem(prev)" :class="prev == null ? 'bg-gray page-link':'page-link'"  aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li v-for="(page,index) in pages" :key="index" :class="page.active ? 'page-item active':'page-item'"><a class="page-link" @click="getItem(page.url)">{{page.title}}</a></li>
                            <li class="page-item">
                                <a @click="getItem(next)" :class="next == null ? 'bg-gray page-link':'page-link'" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- <div class="col-12">
                    <div class="user-panel-title">
                        <h4>Moje pretplate</h4>
                        <a class="btn fs-btn small dark"><span class="fa fa-plus"></span></a>
                    </div>
                    <p>Trenutno nemate odabrane pretplate.</p>
                </div> -->
            </div>
        </div>
    </div>
</template>

<script>
import  { mapState } from 'vuex';
import { module_mixin } from '../../../mixins/index';
export default {
    mixins:[module_mixin],
    computed:{
        ...mapState({
            user:(state)=>state.user,
            loader:(state)=>state.loader,
            endpoint:(state)=>state.endpoint,
            token:(state)=>state.token,
        })
    },
    data(){
        return {
            data:[],
            pages:[],
            loading:false,prev:'',next:''
        }
    },
    methods:{
        deleteItem(id){
            if(confirm("Are you sure you want to cancel this booking")){
                
                this.$store.dispatch('get',this.endpoint+'delete-booking/'+id+'?token='+this.token)
                .then((data)=>{
                    console.log(data)
                })
                .catch((error)=>{
                    console.log(error);
                });
                this.data=this.data.filter((d)=> d.id != id);
            }
        },
        getMer(time){
            return time.split(':')[0] <= 12 ? 'am':'pm';
        },
        getService(service){
            return JSON.parse(service);
        },
        getItem(url){
            if(url == null){
                return false;
            }
            this.loading=true;
            this.$store.dispatch('get',url+'&token='+this.token)
            .then((data)=>{
                console.log(data);
                this.data=data.data.data; 
                this.next=data.data.next_page_url;
                this.prev=data.data.prev_page_url;
                var pages=data.data.last_page;
                this.pages=[]; 
                for(var c=1;c<=pages;c++){
                    this.pages.push({
                        title:c,
                        url:data.data.path+'?page='+c
                    });
                }
                this.loading=false;
            })
            .catch((error)=>{
                console.log(error.request)
                this.loading=false;
            }); 
        }
    },
    created(){
       this.getItem(this.endpoint+'get-user-booking?');
    }
}
</script>